.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.selected {
  display: flex;
  align-items: center;
}
.selected input {
  width: 20px;
  height: 20px;
}
